/* CSS GOES HERE */

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: urbanist;
    vertical-align: baseline;
    background-color: #FFEED6;
}

section {
    padding: 60px 40px;
    
}


.container {
    width: 100%;
    max-width: 960px;
    text-align: left;
    margin: 0 auto;
}


.boxes {
  color:#996666;
  border: 2px solid #d2bf55;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px 30px 30px 30px;
  text-align: center;
  text-decoration: underline;
}

.email{
  background-color:#d2bf55;
  opacity: 30%;
  width: 654px;
  height: 64px;
  flex-shrink: 0;
  
}

.message {
  background-color:#d2bf55;
  opacity: 30%;
  width: 654px;
  height: 271px;
  flex-shrink: 0;
}

.fontcont {
  color:#996666;
  font-size: 30px;
}


#stack {

    text-align: center;
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
  
  #stack div {
    width: 20%;
    height: auto;
  }  


.dropdown {
  color:#996666;
  border: 2px solid #d2bf55;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px 80px 40px 30px;
  text-align: center;
  text-decoration: underline;

}

#drop {

    display: flex;
    flex-wrap:wrap;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  
  #drop div {
    width: 100%;
    height: auto;
  }  



nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: right;
    gap: 10px;
    font-size: 25px;
    width: 80%;
}

footer {
    color: #996666;
    padding: 10px;
}

