/* TABLET VIEW */
@media only screen and (max-width:768px) {
    
    .mobile-menu {
        display: block;
      }
    
      .mobile-menu-popout {
        display: block;
       }


h1.different {font-size: 90px;font-weight: bolder; max-width: 50%}

h2.different {font-size: 70px; font-weight: bold; margin-top: 0px;margin-bottom: 30px;text-decoration: underline;}

p.different {font-size:30px; margin-top: 25px;margin-bottom: 50px;font-weight: lighter;}

h3.different {font-size: 55px; font-weight: bold;}

h4 {font-size: 35px;}

h5 {font-size: 20px; margin-left: 30px;max-width: 50%;}


body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: urbanist;
    vertical-align: baseline;
    background-color: #FFEED6;
}

section {
    padding: 30px 20px;
    
}


.container {
    width: 100%;
    max-width: 960px;
    text-align: left;
    margin: 0 auto;
}



.boxes {
  
  border: 2px solid #d2bf55;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 15px 15px 15px;
  text-align: center;
  font-size: 25px;
}

.boxes-dark {
  border: 2px solid #FBBFCA;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 15px 15px 15px;
  text-align: center;
  font-size: 25px;
}

#stack {

    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
  
  #stack div {
    width: 75%;
    height: auto;
  }  


  .photos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    }




.dropdown {
  
  border: 2px solid #d2bf55;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px 30px 40px 30px;
  text-align: center;
  font-size: 25px;
}

.dropdown-dark {
  border: 2px solid #FBBFCA;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px 30px 40px 30px;
  text-align: center;
  font-size: 25px;
}





#drop {

    display: flex;
    flex-wrap:wrap;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  


nav {
  display: flex;
  flex-flow: row;
  justify-content: left;

}


nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    gap: 10px;
    font-size: 10px;
    display: none;
}


.contact {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: center;
  flex-direction: column;
}

.email{
  background-color:#d2bf55;
  opacity: 30%;
  width: 600px;
  height: 64px;
  flex-shrink: 0;
  border: none;
  font-size: 20px;
  
}

.message {
  background-color:#d2bf55;
  opacity: 30%;
  width: 600px;
  height: 200px;
  flex-shrink: 0;
  border: none;
  font-size: 20px;
}



.fontcont {

  font-size: 20px;

}

.socials {
  width: 40px;
  height: 40px;
  background-color: #996666;
  background-image: url(images/sms_FILL0_wght400_GRAD0_opsz24.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  position:relative;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  
}

.foot {
  width: 100%;
  text-align: center;
}


footer {
    padding: 10px;
}

}




/*------------------------------------------------------------------------------*/






/* MOBILE VIEW */
@media only screen and (max-width: 390px) {
    
    .mobile-menu {
        display: block;
      }
    
   .mobile-menu-popout {
        display: block;
       }




h1.different {font-size: 75px;font-weight: bolder; max-width: 50%}

h2.different {font-size: 50px; font-weight: bold; margin-top: 0px;margin-bottom: 30px;text-decoration: underline;}

p.different {font-size:20px; margin-top: 25px;margin-bottom: 50px;font-weight: lighter;}

h3.different {font-size: 45px; font-weight: bold;}

h4 {font-size: 25px;}

h5 {font-size: 15px; margin-left: 30px;max-width: 50%;}


body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: urbanist;
    vertical-align: baseline;
    background-color: #FFEED6;
    color: #996666;
}

section {
    padding: 30px 20px;
    
}


.container {
    width: 100%;
    max-width: 960px;
    text-align: left;
    margin: 0 auto;
}



.boxes {

  border: 2px solid #d2bf55;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 15px 15px 15px;
  text-align: center;
  font-size: 18px;
}

.boxes-dark {
  border: 2px solid #FBBFCA;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 15px 15px 15px;
  text-align: center;
  font-size: 18px;
}

#stack {

    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
  
  #stack div {
    width: 75%;
    height: auto;
  }  


  .photos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    }




.dropdown {
  border: 2px solid #d2bf55;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px 30px 40px 30px;
  text-align: center;
  font-size: 18px;

}

.dropdown-dark {
  border: 2px solid #FBBFCA;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px 30px 40px 30px;
  text-align: center;
  font-size: 18px;
}



#drop {

    display: flex;
    flex-wrap:wrap;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  


nav {
  display: flex;
  flex-flow: row;
  justify-content: left;

}


nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    gap: 10px;
    font-size: 10px;
    display: none;
}


.contact {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: center;
  flex-direction: column;
}

.email{
  background-color:#d2bf55;
  opacity: 30%;
  width: 300px;
  height: 32px;
  border: none;
  font-size: 15px;
}

.message {
  background-color:#d2bf55;
  opacity: 30%;
  width: 300px;
  height: 150px;
  border: none;
  font-size: 15px;
}

.fontcont {
  font-size: 18px;

}
.socials {
  width: 40px;
  height: 40px;
  background-color: #996666;
  background-image: url(images/sms_FILL0_wght400_GRAD0_opsz24.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  position:relative;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;

}

.foot {
  width: 100%;
  text-align: center;
}


footer {
    padding: 10px;
}

}
