/* CSS GOES HERE */

html {scroll-behavior: smooth;}

h1.different {font-size: 100px;font-weight: bolder; max-width: 50%}

h2.different {font-size: 60px; font-weight: bold; margin-top: 0px;margin-bottom: 100px;text-decoration: underline;}

p.different {font-size:30px; margin-top: 25px;margin-bottom: 50px;font-weight: lighter;}

h3.different {font-size: 45px; font-weight: bold;}

h4 {font-size: 40px;}

h5 {font-size: 30px; width: 50%;}


.mobile-menu {
  width: 40px;
  height: 40px;
  background-color: #996666;
  position: fixed;
  top: 20px;
  right: 20px;
  background-image: url(images/menu_FILL0_wght400_GRAD0_opsz24.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  z-index: 999;
  cursor: pointer;
  display: none;
}

.mobile-menu-dark {
  width: 40px;
  height: 40px;
  background-color: #d2bf55;
  position: fixed;
  top: 20px;
  right: 20px;
  background-image: url(images/menu_FILL0_wght400_GRAD0_opsz24.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  z-index: 999;
  cursor: pointer;
  display: none;
}


.mobile-menu-popout {
  background-color: #d2bf55;
  z-index: 998;
  padding: 80px 40px;
  padding-top: 80px;
  width: 110px;
  transition: all 300ms;
  height: 100%;
  position: fixed;
  top: 0;
  right: -190px;
  overflow-x: hidden;
  opacity: 90%;
  display: none;
}

.mobile-pop-dark {
  background-color: #FFEED6;
  z-index: 998;
  padding: 80px 40px;
  padding-top: 80px;
  width: 110px;
  transition: all 300ms;
  height: 100%;
  position: fixed;
  top: 0;
  right: -190px;
  overflow-x: hidden;
  opacity: 90%;
  display: none;
}


.mobile_links {
list-style: none;
text-decoration: none;
padding: 0;  
display: flex;
flex-flow: column;
gap: 20px;
font-size: 20px;
align-items: left;
}

.open {
right: 0;
}

.close {
  background-image: url(images/close_FILL0_wght400_GRAD0_opsz24.svg);
}


a:link {
  color:#996666;
  text-decoration: none;
  cursor: pointer;
}

.a-dark:link {
  color: #d2bf55;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color:#996666;
  text-decoration: none;
}

.a-dark:visited {
  color:#d2bf55;
  text-decoration: none;
}


a:hover {
  color:#FBBFCA;
  text-decoration: none;
}

.a-dark:hover {
  color:#2B061E;
  text-decoration: none;
}

a:active {
  color:#FBBFCA;
  text-decoration: none;
}

.a-dark:active {
  color:#2B061E;
  text-decoration: none;
}


body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: urbanist;
    vertical-align: baseline;
    background-color: #FFEED6;
    color: #996666;
    transition: all .5s;
}


.body-dark-mode {
  background-color: #996666;
  color:#d2bf55;
}

.dark-mode {
  width: 50px;
  height: 50px;
  background-color: #996666;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-image: url(images/dark_mode_FILL0_wght400_GRAD0_opsz24.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: none;
  z-index: 999;
  cursor: pointer;
}

.light-mode {
  width: 50px;
  height: 50px;
  background-color:#d2bf55;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-image: url(images/light_mode_FILL0_wght400_GRAD0_opsz24.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: none;
  z-index: 999;
  cursor: pointer;
}


.image {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

section {
    padding: 60px 40px;
    
}

.container {
    width: 100%;
    max-width: 960px;
    text-align: left;
    margin: 0 auto;
}

.boxes {
  
  border: 2px solid #d2bf55;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px 30px 30px 30px;
  text-align: center;
  font-size: 20px;
}

.boxes-dark {
  border: 2px solid #FBBFCA;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px 30px 30px 30px;
  text-align: center;
  font-size: 20px;
}

#stack {

    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
  
  #stack div {
    width: 20%;
    height: auto;
  }  


  .photos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    }


.dropdown {
  border: 2px solid #d2bf55;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px 80px 40px 30px;
  text-align: center;
  font-size: 25px;

}


.dropdown-dark {
  border: 2px solid #FBBFCA;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px 80px 40px 30px;
  text-align: center;
  font-size: 25px;
}


.faq-toggle {
  background-color: #d2bf55;
  padding: 20px;
  border-radius: 5px;
  height: 10px;
  cursor: pointer;
  overflow: hidden;
}

.faq-open {
  height: auto;
}


#drop {

    display: flex;
    flex-wrap:wrap;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  
  #drop div {
    width: 100%;
    height: auto;
  }  


nav {
  display: flex;
  flex-flow: row;
  justify-content: center;
}


nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    gap: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: center;
  flex-direction: column;
}


.email{
  background-color:#d2bf55;
  opacity: 30%;
  width: 654px;
  height: 64px;
  border: none;
  font-size: 20px;
}

.email-dark {
  background-color:#FBBFCA !important;
  opacity: 30%;
  width: 654px;
  height: 64px;
  border: none;
  font-size: 20px;
}

.message {
  background-color:#d2bf55;
  opacity: 30%;
  width: 654px;
  height: 200px;
  border: none;
  font-size: 20px;
}

.message-dark {
  background-color:#FBBFCA !important;
  opacity: 30%;
  width: 654px;
  height: 200px;
  border: none;
  font-size: 20px;
}

.button {
  background-color: #996666;
  border: none;
  color:#FFEED6;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 5%;
  cursor: pointer;
}

.button-dark {
  background-color: #d2bf55 !important;
  border: none;
  color:#2B061E;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 5%;
  cursor: pointer;
}

.fontcont {
  font-size: 18px;

}

.socials {
  width: 40px;
  height: 40px;
  background-color: #996666;
  background-image: url(images/sms_FILL0_wght400_GRAD0_opsz24.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  position:relative;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.socials-dark {
  width: 40px;
  height: 40px;
  background-color: #d2bf55 !important;
  background-image: url(images/sms_FILL0_wght400_GRAD0_opsz24.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  position:relative;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.foot {
  width: 100%;
  text-align: center;
}

footer {
    padding: 10px;
  
}

